body,
html {
  padding: 0;
  margin: 0;
  background: rgba(0, 0, 0, 1);
}
.space {
  opacity: 0.9;
  transform-style: preserve-3d;
  animation: rotate 10s linear infinite;
  height: 1000px;
  top: 0px;
  overflow: hidden;
}

body {
  position: relative;
}

.planet-orbit:nth-child(1) {
  border: 1px solid rgba(173, 216, 230, 0.5);
  width: 85px;
  height: 85px;
  border-radius: 50%;
  position: absolute;
  transform-style: preserve-3d;
  margin-top: 507.5px;
  margin-left: calc(50% - (1 * 85px / 2));
  z-index: 10;
  animation: orbit-1 0s linear infinite;
}

@keyframes orbit-1 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.planet-square:nth-child(1) {
  width: 71%;
  height: 71%;
  position: relative;
  margin: 0 auto;
  margin-top: 14.5%;
  transform-style: preserve-3d;
}

.planet-orbit:nth-child(2) {
  border: 1px solid rgba(173, 216, 230, 0.5);
  width: 170px;
  height: 170px;
  border-radius: 50%;
  position: absolute;
  transform-style: preserve-3d;
  margin-top: 465px;
  margin-left: calc(50% - (2 * 85px / 2));
  z-index: 10;
  animation: orbit-2 0.4s linear infinite;
}

@keyframes orbit-2 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.planet-square:nth-child(2) {
  width: 71%;
  height: 71%;
  position: relative;
  margin: 0 auto;
  margin-top: 14.5%;
  transform-style: preserve-3d;
}

.planet-orbit:nth-child(3) {
  border: 1px solid rgba(173, 216, 230, 0.5);
  width: 255px;
  height: 255px;
  border-radius: 50%;
  position: absolute;
  transform-style: preserve-3d;
  margin-top: 422.5px;
  margin-left: calc(50% - (3 * 85px / 2));
  z-index: 10;
  animation: orbit-3 1.2s linear infinite;
}

@keyframes orbit-3 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.planet-square:nth-child(3) {
  width: 71%;
  height: 71%;
  position: relative;
  margin: 0 auto;
  margin-top: 14.5%;
  transform-style: preserve-3d;
}

.planet-orbit:nth-child(4) {
  border: 1px solid rgba(173, 216, 230, 0.5);
  width: 340px;
  height: 340px;
  border-radius: 50%;
  position: absolute;
  transform-style: preserve-3d;
  margin-top: 380px;
  margin-left: calc(50% - (4 * 85px / 2));
  z-index: 10;
  animation: orbit-4 2s linear infinite;
}

@keyframes orbit-4 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.planet-square:nth-child(4) {
  width: 71%;
  height: 71%;
  position: relative;
  margin: 0 auto;
  margin-top: 14.5%;
  transform-style: preserve-3d;
}

.planet-orbit:nth-child(5) {
  border: 1px solid rgba(173, 216, 230, 0.5);
  width: 425px;
  height: 425px;
  border-radius: 50%;
  position: absolute;
  transform-style: preserve-3d;
  margin-top: 337.5px;
  margin-left: calc(50% - (5 * 85px / 2));
  z-index: 10;
  animation: orbit-5 3.8s linear infinite;
}

@keyframes orbit-5 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.planet-square:nth-child(5) {
  width: 71%;
  height: 71%;
  position: relative;
  margin: 0 auto;
  margin-top: 14.5%;
  transform-style: preserve-3d;
}

.planet-orbit:nth-child(6) {
  border: 1px solid rgba(173, 216, 230, 0.5);
  width: 510px;
  height: 510px;
  border-radius: 50%;
  position: absolute;
  transform-style: preserve-3d;
  margin-top: 295px;
  margin-left: calc(50% - (6 * 85px / 2));
  z-index: 10;
  animation: orbit-6 23.8s linear infinite;
}

@keyframes orbit-6 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.planet-square:nth-child(6) {
  width: 71%;
  height: 71%;
  position: relative;
  margin: 0 auto;
  margin-top: 14.5%;
  transform-style: preserve-3d;
}

.planet-orbit:nth-child(7) {
  border: 1px solid rgba(173, 216, 230, 0.5);
  width: 595px;
  height: 595px;
  border-radius: 50%;
  position: absolute;
  transform-style: preserve-3d;
  margin-top: 252.5px;
  margin-left: calc(50% - (7 * 85px / 2));
  z-index: 10;
  animation: orbit-7 59s linear infinite;
}

@keyframes orbit-7 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.planet-square:nth-child(7) {
  width: 71%;
  height: 71%;
  position: relative;
  margin: 0 auto;
  margin-top: 14.5%;
  transform-style: preserve-3d;
}

.planet-orbit:nth-child(8) {
  border: 1px solid rgba(173, 216, 230, 0.5);
  width: 680px;
  height: 680px;
  border-radius: 50%;
  position: absolute;
  transform-style: preserve-3d;
  margin-top: 210px;
  margin-left: calc(50% - (8 * 85px / 2));
  z-index: 10;
  animation: orbit-8 168s linear infinite;
}

@keyframes orbit-8 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.planet-square:nth-child(8) {
  width: 71%;
  height: 71%;
  position: relative;
  margin: 0 auto;
  margin-top: 14.5%;
  transform-style: preserve-3d;
}

.planet-orbit:nth-child(9) {
  border: 1px solid rgba(173, 216, 230, 0.5);
  width: 765px;
  height: 765px;
  border-radius: 50%;
  position: absolute;
  transform-style: preserve-3d;
  margin-top: 167.5px;
  margin-left: calc(50% - (9 * 85px / 2));
  z-index: 10;
  animation: orbit-9 329.6s linear infinite;
}

@keyframes orbit-9 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.planet-square:nth-child(9) {
  width: 71%;
  height: 71%;
  position: relative;
  margin: 0 auto;
  margin-top: 14.5%;
  transform-style: preserve-3d;
}

.mercury {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  box-shadow: 0 0 10px #e5e5e5;
  background: linear-gradient(to bottom right, #e5e5e5, white);
  opacity: 1;
  margin-top: -2.5px;
  margin-left: -2.5px;
}

.ring-mercury {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  box-shadow: 0 0 5px #e5e5e5;
  margin-top: -11px;
  margin-left: -8.5px;
  border: 1px solid gray;
  display: none;
  opacity: 0.8;
  animation: ring-orbit 3s linear infinite;
}

.orbit-mercury {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-top: -11px;
  margin-left: -8.5px;
  display: none;
  opacity: 0.8;
  animation: moon-orbit 1s linear infinite;
}

.moon-mercury {
  width: 6px;
  height: 6px;
  box-shadow: 0 0 5px white;
  display: none;
  background: white;
  border-radius: 50%;
}

@keyframes moon-orbit {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes ring-orbit {
  from {
    transform: rotateX(60deg) rotateY(150deg) rotate(0);
  }
  to {
    transform: rotateX(60deg) rotateY(150deg) rotate(360deg);
  }
}

.venus {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  box-shadow: 0 0 10px #ffc04c;
  background: linear-gradient(to bottom right, #ffc04c, white);

  opacity: 1;
  margin-top: -7.5px;
  margin-left: -7.5px;
}

.ring-venus {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  box-shadow: 0 0 5px #ffc04c;
  margin-top: -21px;
  margin-left: -13.5px;
  border: 1px solid gray;
  display: none;
  opacity: 0.8;
  animation: ring-orbit 3s linear infinite;
}

.orbit-venus {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin-top: -21px;
  margin-left: -13.5px;
  display: none;
  opacity: 0.8;
  animation: moon-orbit 1s linear infinite;
}

.moon-venus {
  width: 6px;
  height: 6px;
  box-shadow: 0 0 5px white;
  display: none;
  background: white;
  border-radius: 50%;
}

@keyframes moon-orbit {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes ring-orbit {
  from {
    transform: rotateX(60deg) rotateY(150deg) rotate(0);
  }
  to {
    transform: rotateX(60deg) rotateY(150deg) rotate(360deg);
  }
}

.earth {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  box-shadow: 0 0 10px #66b2ff;
  background: linear-gradient(to bottom right, #66b2ff, white);

  opacity: 1;
  margin-top: -10px;
  margin-left: -10px;
}

.ring-earth {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  box-shadow: 0 0 5px #66b2ff;
  margin-top: -26px;
  margin-left: -16px;
  border: 1px solid gray;
  display: none;
  opacity: 0.8;
  animation: ring-orbit 3s linear infinite;
}

.orbit-earth {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-top: -26px;
  margin-left: -16px;
  display: none;
  opacity: 0.8;
  animation: moon-orbit 1s linear infinite;
}

.moon-earth {
  width: 6px;
  height: 6px;
  box-shadow: 0 0 5px white;
  display: none;
  background: white;
  border-radius: 50%;
}

@keyframes moon-orbit {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes ring-orbit {
  from {
    transform: rotateX(60deg) rotateY(150deg) rotate(0);
  }
  to {
    transform: rotateX(60deg) rotateY(150deg) rotate(360deg);
  }
}

.mars {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  box-shadow: 0 0 10px #ff6666;
  background: linear-gradient(to bottom right, #ff6666, white);
  opacity: 1;
  margin-top: -5px;
  margin-left: -5px;
}

.ring-mars {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  box-shadow: 0 0 5px #ff6666;
  margin-top: -16px;
  margin-left: -11px;
  border: 1px solid gray;
  display: none;
  opacity: 0.8;
  animation: ring-orbit 3s linear infinite;
}

.orbit-mars {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-top: -16px;
  margin-left: -11px;
  display: none;
  opacity: 0.8;
  animation: moon-orbit 1s linear infinite;
}

.moon-mars {
  width: 6px;
  height: 6px;
  box-shadow: 0 0 5px white;
  display: none;
  background: white;
  border-radius: 50%;
}

@keyframes moon-orbit {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes ring-orbit {
  from {
    transform: rotateX(60deg) rotateY(150deg) rotate(0);
  }
  to {
    transform: rotateX(60deg) rotateY(150deg) rotate(360deg);
  }
}

.jupiter {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-shadow: 0 0 10px #e59400;
  background: linear-gradient(to bottom right, #e59400, white);
  opacity: 1;
  margin-top: -25px;
  margin-left: -25px;
}

.ring-jupiter {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  box-shadow: 0 0 5px #e59400;
  margin-top: -56px;
  margin-left: -31px;
  border: 1px solid gray;
  display: none;
  opacity: 0.8;
  animation: ring-orbit 3s linear infinite;
}

.orbit-jupiter {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-top: -56px;
  margin-left: -31px;
  display: none;
  opacity: 0.8;
  animation: moon-orbit 1s linear infinite;
}

.moon-jupiter {
  width: 6px;
  height: 6px;
  box-shadow: 0 0 5px white;
  display: none;
  background: white;
  border-radius: 50%;
}

@keyframes moon-orbit {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes ring-orbit {
  from {
    transform: rotateX(60deg) rotateY(150deg) rotate(0);
  }
  to {
    transform: rotateX(60deg) rotateY(150deg) rotate(360deg);
  }
}

.saturn {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  box-shadow: 0 0 10px #ffd27f;
  background: linear-gradient(to bottom right, #ffd27f, white);
  opacity: 1;
  margin-top: -17.5px;
  margin-left: -17.5px;
}

.ring-saturn {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  box-shadow: 0 0 5px #ffd27f;
  margin-top: -41px;
  margin-left: -23.5px;
  border: 1px solid gray;
  display: none;
  opacity: 0.8;
  animation: ring-orbit 3s linear infinite;
}

.orbit-saturn {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  margin-top: -41px;
  margin-left: -23.5px;
  display: none;
  opacity: 0.8;
  animation: moon-orbit 1s linear infinite;
}

.moon-saturn {
  width: 6px;
  height: 6px;
  box-shadow: 0 0 5px white;
  display: none;
  background: white;
  border-radius: 50%;
}

@keyframes moon-orbit {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes ring-orbit {
  from {
    transform: rotateX(60deg) rotateY(150deg) rotate(0);
  }
  to {
    transform: rotateX(60deg) rotateY(150deg) rotate(360deg);
  }
}

.uranus {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  box-shadow: 0 0 10px #b2ffff;
  background: linear-gradient(to bottom right, #b2ffff, white);
  opacity: 1;
  margin-top: -15px;
  margin-left: -15px;
}

.ring-uranus {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 0 0 5px #b2ffff;
  margin-top: -36px;
  margin-left: -21px;
  border: 1px solid gray;
  display: none;
  opacity: 0.8;
  animation: ring-orbit 3s linear infinite;
}

.orbit-uranus {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-top: -36px;
  margin-left: -21px;
  display: none;
  opacity: 0.8;
  animation: moon-orbit 1s linear infinite;
}

.moon-uranus {
  width: 6px;
  height: 6px;
  box-shadow: 0 0 5px white;
  display: none;
  background: white;
  border-radius: 50%;
}

@keyframes moon-orbit {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes ring-orbit {
  from {
    transform: rotateX(60deg) rotateY(150deg) rotate(0);
  }
  to {
    transform: rotateX(60deg) rotateY(150deg) rotate(360deg);
  }
}

.neptune {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  box-shadow: 0 0 10px #00b3b3;
  background: linear-gradient(to bottom right, #00b3b3, white);
  opacity: 1;
  margin-top: -12.5px;
  margin-left: -12.5px;
}

.ring-neptune {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  box-shadow: 0 0 5px #00b3b3;
  margin-top: -31px;
  margin-left: -18.5px;
  border: 1px solid gray;
  display: none;
  opacity: 0.8;
  animation: ring-orbit 3s linear infinite;
}

.orbit-neptune {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin-top: -31px;
  margin-left: -18.5px;
  display: none;
  opacity: 0.8;
  animation: moon-orbit 1s linear infinite;
}

.moon-neptune {
  width: 6px;
  height: 6px;
  box-shadow: 0 0 5px white;
  display: none;
  background: white;
  border-radius: 50%;
}

@keyframes moon-orbit {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes ring-orbit {
  from {
    transform: rotateX(60deg) rotateY(150deg) rotate(0);
  }
  to {
    transform: rotateX(60deg) rotateY(150deg) rotate(360deg);
  }
}

.planet-orbit:nth-child(1) {
  background: #ffe000;
  box-shadow: 0 0 100px #ffe000;
  opacity: 1;
  border: none;
  border-radius: 50%;
}

.star:nth-child(0) {
  width: 1px;
  height: 1px;
  position: absolute;
  margin-top: 894px;
  margin-left: 1413px;
  background: #fff;
  border-radius: 50%;
  animation: glow-0 1s linear infinite;
  animation-delay: 0s;
}

@keyframes glow-0 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

.star:nth-child(1) {
  width: 2px;
  height: 2px;
  position: absolute;
  margin-top: 48px;
  margin-left: 695px;
  background: #fff;
  border-radius: 50%;
  animation: glow-1 1s linear infinite;
  animation-delay: 0.005s;
}

@keyframes glow-1 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

.star:nth-child(2) {
  width: 2px;
  height: 2px;
  position: absolute;
  margin-top: 885px;
  margin-left: 647px;
  background: #fff;
  border-radius: 50%;
  animation: glow-2 1s linear infinite;
  animation-delay: 0.01s;
}

@keyframes glow-2 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

.star:nth-child(3) {
  width: 1px;
  height: 1px;
  position: absolute;
  margin-top: 286px;
  margin-left: 882px;
  background: #fff;
  border-radius: 50%;
  animation: glow-3 1s linear infinite;
  animation-delay: 0.015s;
}

@keyframes glow-3 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

.star:nth-child(4) {
  width: 1px;
  height: 1px;
  position: absolute;
  margin-top: 406px;
  margin-left: 617px;
  background: #fff;
  border-radius: 50%;
  animation: glow-4 1s linear infinite;
  animation-delay: 0.02s;
}

@keyframes glow-4 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

.star:nth-child(5) {
  width: 1px;
  height: 1px;
  position: absolute;
  margin-top: 344px;
  margin-left: 520px;
  background: #fff;
  border-radius: 50%;
  animation: glow-5 1s linear infinite;
  animation-delay: 0.025s;
}

@keyframes glow-5 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

.star:nth-child(6) {
  width: 2px;
  height: 2px;
  position: absolute;
  margin-top: 187px;
  margin-left: 87px;
  background: #fff;
  border-radius: 50%;
  animation: glow-6 1s linear infinite;
  animation-delay: 0.03s;
}

@keyframes glow-6 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

.star:nth-child(7) {
  width: 1px;
  height: 1px;
  position: absolute;
  margin-top: 29px;
  margin-left: 472px;
  background: #fff;
  border-radius: 50%;
  animation: glow-7 1s linear infinite;
  animation-delay: 0.035s;
}

@keyframes glow-7 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

.star:nth-child(8) {
  width: 1px;
  height: 1px;
  position: absolute;
  margin-top: 283px;
  margin-left: 850px;
  background: #fff;
  border-radius: 50%;
  animation: glow-8 1s linear infinite;
  animation-delay: 0.04s;
}

@keyframes glow-8 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

.star:nth-child(9) {
  width: 2px;
  height: 2px;
  position: absolute;
  margin-top: 67px;
  margin-left: 696px;
  background: #fff;
  border-radius: 50%;
  animation: glow-9 1s linear infinite;
  animation-delay: 0.045s;
}

@keyframes glow-9 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

.star:nth-child(10) {
  width: 2px;
  height: 2px;
  position: absolute;
  margin-top: 789px;
  margin-left: 1220px;
  background: #fff;
  border-radius: 50%;
  animation: glow-10 1s linear infinite;
  animation-delay: 0.05s;
}

@keyframes glow-10 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

.star:nth-child(11) {
  width: 1px;
  height: 1px;
  position: absolute;
  margin-top: 778px;
  margin-left: 950px;
  background: #fff;
  border-radius: 50%;
  animation: glow-11 1s linear infinite;
  animation-delay: 0.055s;
}

@keyframes glow-11 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

.star:nth-child(12) {
  width: 2px;
  height: 2px;
  position: absolute;
  margin-top: 196px;
  margin-left: 753px;
  background: #fff;
  border-radius: 50%;
  animation: glow-12 1s linear infinite;
  animation-delay: 0.06s;
}

@keyframes glow-12 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

.star:nth-child(13) {
  width: 2px;
  height: 2px;
  position: absolute;
  margin-top: 716px;
  margin-left: 1228px;
  background: #fff;
  border-radius: 50%;
  animation: glow-13 1s linear infinite;
  animation-delay: 0.065s;
}

@keyframes glow-13 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

.star:nth-child(14) {
  width: 2px;
  height: 2px;
  position: absolute;
  margin-top: 595px;
  margin-left: 1392px;
  background: #fff;
  border-radius: 50%;
  animation: glow-14 1s linear infinite;
  animation-delay: 0.07s;
}

@keyframes glow-14 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

.star:nth-child(15) {
  width: 2px;
  height: 2px;
  position: absolute;
  margin-top: 863px;
  margin-left: 791px;
  background: #fff;
  border-radius: 50%;
  animation: glow-15 1s linear infinite;
  animation-delay: 0.075s;
}

@keyframes glow-15 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

.star:nth-child(16) {
  width: 1px;
  height: 1px;
  position: absolute;
  margin-top: 983px;
  margin-left: 544px;
  background: #fff;
  border-radius: 50%;
  animation: glow-16 1s linear infinite;
  animation-delay: 0.08s;
}

@keyframes glow-16 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

.star:nth-child(17) {
  width: 2px;
  height: 2px;
  position: absolute;
  margin-top: 776px;
  margin-left: 1110px;
  background: #fff;
  border-radius: 50%;
  animation: glow-17 1s linear infinite;
  animation-delay: 0.085s;
}

@keyframes glow-17 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

.star:nth-child(18) {
  width: 1px;
  height: 1px;
  position: absolute;
  margin-top: 740px;
  margin-left: 976px;
  background: #fff;
  border-radius: 50%;
  animation: glow-18 1s linear infinite;
  animation-delay: 0.09s;
}

@keyframes glow-18 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

.star:nth-child(19) {
  width: 2px;
  height: 2px;
  position: absolute;
  margin-top: 81px;
  margin-left: 857px;
  background: #fff;
  border-radius: 50%;
  animation: glow-19 1s linear infinite;
  animation-delay: 0.095s;
}

@keyframes glow-19 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

.star:nth-child(20) {
  width: 2px;
  height: 2px;
  position: absolute;
  margin-top: 15px;
  margin-left: 101px;
  background: #fff;
  border-radius: 50%;
  animation: glow-20 1s linear infinite;
  animation-delay: 0.1s;
}

@keyframes glow-20 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

.star:nth-child(21) {
  width: 2px;
  height: 2px;
  position: absolute;
  margin-top: 955px;
  margin-left: 736px;
  background: #fff;
  border-radius: 50%;
  animation: glow-21 1s linear infinite;
  animation-delay: 0.105s;
}

@keyframes glow-21 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

.star:nth-child(22) {
  width: 2px;
  height: 2px;
  position: absolute;
  margin-top: 484px;
  margin-left: 65px;
  background: #fff;
  border-radius: 50%;
  animation: glow-22 1s linear infinite;
  animation-delay: 0.11s;
}

@keyframes glow-22 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

.star:nth-child(23) {
  width: 2px;
  height: 2px;
  position: absolute;
  margin-top: 82px;
  margin-left: 1122px;
  background: #fff;
  border-radius: 50%;
  animation: glow-23 1s linear infinite;
  animation-delay: 0.115s;
}

@keyframes glow-23 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

.star:nth-child(24) {
  width: 1px;
  height: 1px;
  position: absolute;
  margin-top: 838px;
  margin-left: 1364px;
  background: #fff;
  border-radius: 50%;
  animation: glow-24 1s linear infinite;
  animation-delay: 0.12s;
}

@keyframes glow-24 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

.star:nth-child(25) {
  width: 2px;
  height: 2px;
  position: absolute;
  margin-top: 740px;
  margin-left: 694px;
  background: #fff;
  border-radius: 50%;
  animation: glow-25 1s linear infinite;
  animation-delay: 0.125s;
}

@keyframes glow-25 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

.star:nth-child(26) {
  width: 2px;
  height: 2px;
  position: absolute;
  margin-top: 642px;
  margin-left: 974px;
  background: #fff;
  border-radius: 50%;
  animation: glow-26 1s linear infinite;
  animation-delay: 0.13s;
}

@keyframes glow-26 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

.star:nth-child(27) {
  width: 1px;
  height: 1px;
  position: absolute;
  margin-top: 706px;
  margin-left: 191px;
  background: #fff;
  border-radius: 50%;
  animation: glow-27 1s linear infinite;
  animation-delay: 0.135s;
}

@keyframes glow-27 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

.star:nth-child(28) {
  width: 1px;
  height: 1px;
  position: absolute;
  margin-top: 371px;
  margin-left: 1478px;
  background: #fff;
  border-radius: 50%;
  animation: glow-28 1s linear infinite;
  animation-delay: 0.14s;
}

@keyframes glow-28 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

.star:nth-child(29) {
  width: 2px;
  height: 2px;
  position: absolute;
  margin-top: 41px;
  margin-left: 1239px;
  background: #fff;
  border-radius: 50%;
  animation: glow-29 1s linear infinite;
  animation-delay: 0.145s;
}

@keyframes glow-29 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

.star:nth-child(30) {
  width: 2px;
  height: 2px;
  position: absolute;
  margin-top: 231px;
  margin-left: 1441px;
  background: #fff;
  border-radius: 50%;
  animation: glow-30 1s linear infinite;
  animation-delay: 0.15s;
}

@keyframes glow-30 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

.star:nth-child(31) {
  width: 2px;
  height: 2px;
  position: absolute;
  margin-top: 575px;
  margin-left: 1221px;
  background: #fff;
  border-radius: 50%;
  animation: glow-31 1s linear infinite;
  animation-delay: 0.155s;
}

@keyframes glow-31 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

.star:nth-child(32) {
  width: 1px;
  height: 1px;
  position: absolute;
  margin-top: 839px;
  margin-left: 1188px;
  background: #fff;
  border-radius: 50%;
  animation: glow-32 1s linear infinite;
  animation-delay: 0.16s;
}

@keyframes glow-32 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

.star:nth-child(33) {
  width: 1px;
  height: 1px;
  position: absolute;
  margin-top: 952px;
  margin-left: 1443px;
  background: #fff;
  border-radius: 50%;
  animation: glow-33 1s linear infinite;
  animation-delay: 0.165s;
}

@keyframes glow-33 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

.star:nth-child(34) {
  width: 1px;
  height: 1px;
  position: absolute;
  margin-top: 223px;
  margin-left: 172px;
  background: #fff;
  border-radius: 50%;
  animation: glow-34 1s linear infinite;
  animation-delay: 0.17s;
}

@keyframes glow-34 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

.star:nth-child(35) {
  width: 2px;
  height: 2px;
  position: absolute;
  margin-top: 649px;
  margin-left: 404px;
  background: #fff;
  border-radius: 50%;
  animation: glow-35 1s linear infinite;
  animation-delay: 0.175s;
}

@keyframes glow-35 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

.star:nth-child(36) {
  width: 1px;
  height: 1px;
  position: absolute;
  margin-top: 181px;
  margin-left: 604px;
  background: #fff;
  border-radius: 50%;
  animation: glow-36 1s linear infinite;
  animation-delay: 0.18s;
}

@keyframes glow-36 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

.star:nth-child(37) {
  width: 1px;
  height: 1px;
  position: absolute;
  margin-top: 778px;
  margin-left: 1291px;
  background: #fff;
  border-radius: 50%;
  animation: glow-37 1s linear infinite;
  animation-delay: 0.185s;
}

@keyframes glow-37 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

.star:nth-child(38) {
  width: 1px;
  height: 1px;
  position: absolute;
  margin-top: 802px;
  margin-left: 952px;
  background: #fff;
  border-radius: 50%;
  animation: glow-38 1s linear infinite;
  animation-delay: 0.19s;
}

@keyframes glow-38 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

.star:nth-child(39) {
  width: 2px;
  height: 2px;
  position: absolute;
  margin-top: 349px;
  margin-left: 407px;
  background: #fff;
  border-radius: 50%;
  animation: glow-39 1s linear infinite;
  animation-delay: 0.195s;
}

@keyframes glow-39 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

.star:nth-child(40) {
  width: 2px;
  height: 2px;
  position: absolute;
  margin-top: 554px;
  margin-left: 374px;
  background: #fff;
  border-radius: 50%;
  animation: glow-40 1s linear infinite;
  animation-delay: 0.2s;
}

@keyframes glow-40 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

.star:nth-child(41) {
  width: 2px;
  height: 2px;
  position: absolute;
  margin-top: 849px;
  margin-left: 565px;
  background: #fff;
  border-radius: 50%;
  animation: glow-41 1s linear infinite;
  animation-delay: 0.205s;
}

@keyframes glow-41 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

.star:nth-child(42) {
  width: 1px;
  height: 1px;
  position: absolute;
  margin-top: 862px;
  margin-left: 264px;
  background: #fff;
  border-radius: 50%;
  animation: glow-42 1s linear infinite;
  animation-delay: 0.21s;
}

@keyframes glow-42 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

.star:nth-child(43) {
  width: 1px;
  height: 1px;
  position: absolute;
  margin-top: 371px;
  margin-left: 855px;
  background: #fff;
  border-radius: 50%;
  animation: glow-43 1s linear infinite;
  animation-delay: 0.215s;
}

@keyframes glow-43 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

.star:nth-child(44) {
  width: 1px;
  height: 1px;
  position: absolute;
  margin-top: 22px;
  margin-left: 84px;
  background: #fff;
  border-radius: 50%;
  animation: glow-44 1s linear infinite;
  animation-delay: 0.22s;
}

@keyframes glow-44 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

.star:nth-child(45) {
  width: 1px;
  height: 1px;
  position: absolute;
  margin-top: 42px;
  margin-left: 853px;
  background: #fff;
  border-radius: 50%;
  animation: glow-45 1s linear infinite;
  animation-delay: 0.225s;
}

@keyframes glow-45 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

.star:nth-child(46) {
  width: 1px;
  height: 1px;
  position: absolute;
  margin-top: 978px;
  margin-left: 162px;
  background: #fff;
  border-radius: 50%;
  animation: glow-46 1s linear infinite;
  animation-delay: 0.23s;
}

@keyframes glow-46 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

.star:nth-child(47) {
  width: 1px;
  height: 1px;
  position: absolute;
  margin-top: 158px;
  margin-left: 791px;
  background: #fff;
  border-radius: 50%;
  animation: glow-47 1s linear infinite;
  animation-delay: 0.235s;
}

@keyframes glow-47 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

.star:nth-child(48) {
  width: 2px;
  height: 2px;
  position: absolute;
  margin-top: 675px;
  margin-left: 1383px;
  background: #fff;
  border-radius: 50%;
  animation: glow-48 1s linear infinite;
  animation-delay: 0.24s;
}

@keyframes glow-48 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

.star:nth-child(49) {
  width: 2px;
  height: 2px;
  position: absolute;
  margin-top: 376px;
  margin-left: 616px;
  background: #fff;
  border-radius: 50%;
  animation: glow-49 1s linear infinite;
  animation-delay: 0.245s;
}

@keyframes glow-49 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

.star:nth-child(50) {
  width: 2px;
  height: 2px;
  position: absolute;
  margin-top: 526px;
  margin-left: 611px;
  background: #fff;
  border-radius: 50%;
  animation: glow-50 1s linear infinite;
  animation-delay: 0.25s;
}

@keyframes glow-50 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

.star:nth-child(51) {
  width: 1px;
  height: 1px;
  position: absolute;
  margin-top: 355px;
  margin-left: 1388px;
  background: #fff;
  border-radius: 50%;
  animation: glow-51 1s linear infinite;
  animation-delay: 0.255s;
}

@keyframes glow-51 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

.star:nth-child(52) {
  width: 1px;
  height: 1px;
  position: absolute;
  margin-top: 167px;
  margin-left: 1325px;
  background: #fff;
  border-radius: 50%;
  animation: glow-52 1s linear infinite;
  animation-delay: 0.26s;
}

@keyframes glow-52 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

.star:nth-child(53) {
  width: 2px;
  height: 2px;
  position: absolute;
  margin-top: 921px;
  margin-left: 748px;
  background: #fff;
  border-radius: 50%;
  animation: glow-53 1s linear infinite;
  animation-delay: 0.265s;
}

@keyframes glow-53 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

.star:nth-child(54) {
  width: 1px;
  height: 1px;
  position: absolute;
  margin-top: 381px;
  margin-left: 1177px;
  background: #fff;
  border-radius: 50%;
  animation: glow-54 1s linear infinite;
  animation-delay: 0.27s;
}

@keyframes glow-54 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

.star:nth-child(55) {
  width: 2px;
  height: 2px;
  position: absolute;
  margin-top: 157px;
  margin-left: 98px;
  background: #fff;
  border-radius: 50%;
  animation: glow-55 1s linear infinite;
  animation-delay: 0.275s;
}

@keyframes glow-55 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

.star:nth-child(56) {
  width: 2px;
  height: 2px;
  position: absolute;
  margin-top: 715px;
  margin-left: 1008px;
  background: #fff;
  border-radius: 50%;
  animation: glow-56 1s linear infinite;
  animation-delay: 0.28s;
}

@keyframes glow-56 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

.star:nth-child(57) {
  width: 1px;
  height: 1px;
  position: absolute;
  margin-top: 730px;
  margin-left: 55px;
  background: #fff;
  border-radius: 50%;
  animation: glow-57 1s linear infinite;
  animation-delay: 0.285s;
}

@keyframes glow-57 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

.star:nth-child(58) {
  width: 1px;
  height: 1px;
  position: absolute;
  margin-top: 989px;
  margin-left: 1075px;
  background: #fff;
  border-radius: 50%;
  animation: glow-58 1s linear infinite;
  animation-delay: 0.29s;
}

@keyframes glow-58 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

.star:nth-child(59) {
  width: 1px;
  height: 1px;
  position: absolute;
  margin-top: 150px;
  margin-left: 1443px;
  background: #fff;
  border-radius: 50%;
  animation: glow-59 1s linear infinite;
  animation-delay: 0.295s;
}

@keyframes glow-59 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

.star:nth-child(60) {
  width: 1px;
  height: 1px;
  position: absolute;
  margin-top: 606px;
  margin-left: 1279px;
  background: #fff;
  border-radius: 50%;
  animation: glow-60 1s linear infinite;
  animation-delay: 0.3s;
}

@keyframes glow-60 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

.star:nth-child(61) {
  width: 1px;
  height: 1px;
  position: absolute;
  margin-top: 12px;
  margin-left: 869px;
  background: #fff;
  border-radius: 50%;
  animation: glow-61 1s linear infinite;
  animation-delay: 0.305s;
}

@keyframes glow-61 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

.star:nth-child(62) {
  width: 1px;
  height: 1px;
  position: absolute;
  margin-top: 511px;
  margin-left: 924px;
  background: #fff;
  border-radius: 50%;
  animation: glow-62 1s linear infinite;
  animation-delay: 0.31s;
}

@keyframes glow-62 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

.star:nth-child(63) {
  width: 2px;
  height: 2px;
  position: absolute;
  margin-top: 505px;
  margin-left: 17px;
  background: #fff;
  border-radius: 50%;
  animation: glow-63 1s linear infinite;
  animation-delay: 0.315s;
}

@keyframes glow-63 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}
.star:nth-child(64) {
  width: 2px;
  height: 2px;
  position: absolute;
  margin-top: 572px;
  margin-left: 537px;
  background: #fff;
  border-radius: 50%;
  animation: glow-64 1s linear infinite;
  animation-delay: 0.32s;
}

@keyframes glow-64 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

.star:nth-child(65) {
  width: 2px;
  height: 2px;
  position: absolute;
  margin-top: 371px;
  margin-left: 429px;
  background: #fff;
  border-radius: 50%;
  animation: glow-65 1s linear infinite;
  animation-delay: 0.325s;
}

@keyframes glow-65 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

.star:nth-child(66) {
  width: 1px;
  height: 1px;
  position: absolute;
  margin-top: 804px;
  margin-left: 7px;
  background: #fff;
  border-radius: 50%;
  animation: glow-66 1s linear infinite;
  animation-delay: 0.33s;
}

@keyframes glow-66 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

.star:nth-child(67) {
  width: 1px;
  height: 1px;
  position: absolute;
  margin-top: 12px;
  margin-left: 82px;
  background: #fff;
  border-radius: 50%;
  animation: glow-67 1s linear infinite;
  animation-delay: 0.335s;
}

@keyframes glow-67 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

.star:nth-child(68) {
  width: 1px;
  height: 1px;
  position: absolute;
  margin-top: 209px;
  margin-left: 547px;
  background: #fff;
  border-radius: 50%;
  animation: glow-68 1s linear infinite;
  animation-delay: 0.34s;
}

@keyframes glow-68 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

.star:nth-child(69) {
  width: 1px;
  height: 1px;
  position: absolute;
  margin-top: 32px;
  margin-left: 282px;
  background: #fff;
  border-radius: 50%;
  animation: glow-69 1s linear infinite;
  animation-delay: 0.345s;
}

@keyframes glow-69 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

.star:nth-child(70) {
  width: 1px;
  height: 1px;
  position: absolute;
  margin-top: 516px;
  margin-left: 1259px;
  background: #fff;
  border-radius: 50%;
  animation: glow-70 1s linear infinite;
  animation-delay: 0.35s;
}

@keyframes glow-70 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

.star:nth-child(71) {
  width: 1px;
  height: 1px;
  position: absolute;
  margin-top: 417px;
  margin-left: 1106px;
  background: #fff;
  border-radius: 50%;
  animation: glow-71 1s linear infinite;
  animation-delay: 0.355s;
}

@keyframes glow-71 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

.star:nth-child(72) {
  width: 1px;
  height: 1px;
  position: absolute;
  margin-top: 860px;
  margin-left: 57px;
  background: #fff;
  border-radius: 50%;
  animation: glow-72 1s linear infinite;
  animation-delay: 0.36s;
}

@keyframes glow-72 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

.star:nth-child(73) {
  width: 2px;
  height: 2px;
  position: absolute;
  margin-top: 253px;
  margin-left: 436px;
  background: #fff;
  border-radius: 50%;
  animation: glow-73 1s linear infinite;
  animation-delay: 0.365s;
}

@keyframes glow-73 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

.star:nth-child(74) {
  width: 2px;
  height: 2px;
  position: absolute;
  margin-top: 397px;
  margin-left: 953px;
  background: #fff;
  border-radius: 50%;
  animation: glow-74 1s linear infinite;
  animation-delay: 0.37s;
}

@keyframes glow-74 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

.star:nth-child(75) {
  width: 2px;
  height: 2px;
  position: absolute;
  margin-top: 190px;
  margin-left: 1450px;
  background: #fff;
  border-radius: 50%;
  animation: glow-75 1s linear infinite;
  animation-delay: 0.375s;
}

@keyframes glow-75 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

.star:nth-child(76) {
  width: 2px;
  height: 2px;
  position: absolute;
  margin-top: 13px;
  margin-left: 896px;
  background: #fff;
  border-radius: 50%;
  animation: glow-76 1s linear infinite;
  animation-delay: 0.38s;
}

@keyframes glow-76 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

.star:nth-child(77) {
  width: 2px;
  height: 2px;
  position: absolute;
  margin-top: 732px;
  margin-left: 378px;
  background: #fff;
  border-radius: 50%;
  animation: glow-77 1s linear infinite;
  animation-delay: 0.385s;
}

@keyframes glow-77 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

.star:nth-child(78) {
  width: 2px;
  height: 2px;
  position: absolute;
  margin-top: 883px;
  margin-left: 622px;
  background: #fff;
  border-radius: 50%;
  animation: glow-78 1s linear infinite;
  animation-delay: 0.39s;
}

@keyframes glow-78 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

.star:nth-child(79) {
  width: 1px;
  height: 1px;
  position: absolute;
  margin-top: 424px;
  margin-left: 163px;
  background: #fff;
  border-radius: 50%;
  animation: glow-79 1s linear infinite;
  animation-delay: 0.395s;
}

@keyframes glow-79 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

.star:nth-child(80) {
  width: 2px;
  height: 2px;
  position: absolute;
  margin-top: 127px;
  margin-left: 554px;
  background: #fff;
  border-radius: 50%;
  animation: glow-80 1s linear infinite;
  animation-delay: 0.4s;
}

@keyframes glow-80 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

.star:nth-child(81) {
  width: 2px;
  height: 2px;
  position: absolute;
  margin-top: 646px;
  margin-left: 1151px;
  background: #fff;
  border-radius: 50%;
  animation: glow-81 1s linear infinite;
  animation-delay: 0.405s;
}

@keyframes glow-81 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

.star:nth-child(82) {
  width: 1px;
  height: 1px;
  position: absolute;
  margin-top: 447px;
  margin-left: 506px;
  background: #fff;
  border-radius: 50%;
  animation: glow-82 1s linear infinite;
  animation-delay: 0.41s;
}

@keyframes glow-82 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

.star:nth-child(83) {
  width: 2px;
  height: 2px;
  position: absolute;
  margin-top: 834px;
  margin-left: 100px;
  background: #fff;
  border-radius: 50%;
  animation: glow-83 1s linear infinite;
  animation-delay: 0.415s;
}

@keyframes glow-83 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

.star:nth-child(84) {
  width: 2px;
  height: 2px;
  position: absolute;
  margin-top: 294px;
  margin-left: 401px;
  background: #fff;
  border-radius: 50%;
  animation: glow-84 1s linear infinite;
  animation-delay: 0.42s;
}

@keyframes glow-84 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

.star:nth-child(85) {
  width: 2px;
  height: 2px;
  position: absolute;
  margin-top: 13px;
  margin-left: 750px;
  background: #fff;
  border-radius: 50%;
  animation: glow-85 1s linear infinite;
  animation-delay: 0.425s;
}

@keyframes glow-85 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

.star:nth-child(86) {
  width: 2px;
  height: 2px;
  position: absolute;
  margin-top: 291px;
  margin-left: 709px;
  background: #fff;
  border-radius: 50%;
  animation: glow-86 1s linear infinite;
  animation-delay: 0.43s;
}

@keyframes glow-86 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

.star:nth-child(87) {
  width: 1px;
  height: 1px;
  position: absolute;
  margin-top: 27px;
  margin-left: 267px;
  background: #fff;
  border-radius: 50%;
  animation: glow-87 1s linear infinite;
  animation-delay: 0.435s;
}

@keyframes glow-87 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

.star:nth-child(88) {
  width: 2px;
  height: 2px;
  position: absolute;
  margin-top: 791px;
  margin-left: 1279px;
  background: #fff;
  border-radius: 50%;
  animation: glow-88 1s linear infinite;
  animation-delay: 0.44s;
}

@keyframes glow-88 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

.star:nth-child(89) {
  width: 1px;
  height: 1px;
  position: absolute;
  margin-top: 413px;
  margin-left: 1025px;
  background: #fff;
  border-radius: 50%;
  animation: glow-89 1s linear infinite;
  animation-delay: 0.445s;
}

@keyframes glow-89 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

.star:nth-child(90) {
  width: 1px;
  height: 1px;
  position: absolute;
  margin-top: 425px;
  margin-left: 156px;
  background: #fff;
  border-radius: 50%;
  animation: glow-90 1s linear infinite;
  animation-delay: 0.45s;
}

@keyframes glow-90 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

.star:nth-child(91) {
  width: 1px;
  height: 1px;
  position: absolute;
  margin-top: 655px;
  margin-left: 52px;
  background: #fff;
  border-radius: 50%;
  animation: glow-91 1s linear infinite;
  animation-delay: 0.455s;
}

@keyframes glow-91 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

.star:nth-child(92) {
  width: 2px;
  height: 2px;
  position: absolute;
  margin-top: 220px;
  margin-left: 1048px;
  background: #fff;
  border-radius: 50%;
  animation: glow-92 1s linear infinite;
  animation-delay: 0.46s;
}

@keyframes glow-92 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

.star:nth-child(93) {
  width: 2px;
  height: 2px;
  position: absolute;
  margin-top: 641px;
  margin-left: 984px;
  background: #fff;
  border-radius: 50%;
  animation: glow-93 1s linear infinite;
  animation-delay: 0.465s;
}

@keyframes glow-93 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

.star:nth-child(94) {
  width: 1px;
  height: 1px;
  position: absolute;
  margin-top: 229px;
  margin-left: 880px;
  background: #fff;
  border-radius: 50%;
  animation: glow-94 1s linear infinite;
  animation-delay: 0.47s;
}

@keyframes glow-94 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

.star:nth-child(95) {
  width: 2px;
  height: 2px;
  position: absolute;
  margin-top: 157px;
  margin-left: 1262px;
  background: #fff;
  border-radius: 50%;
  animation: glow-95 1s linear infinite;
  animation-delay: 0.475s;
}

@keyframes glow-95 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

.star:nth-child(96) {
  width: 2px;
  height: 2px;
  position: absolute;
  margin-top: 416px;
  margin-left: 1431px;
  background: #fff;
  border-radius: 50%;
  animation: glow-96 1s linear infinite;
  animation-delay: 0.48s;
}

@keyframes glow-96 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

.star:nth-child(97) {
  width: 1px;
  height: 1px;
  position: absolute;
  margin-top: 242px;
  margin-left: 564px;
  background: #fff;
  border-radius: 50%;
  animation: glow-97 1s linear infinite;
  animation-delay: 0.485s;
}

@keyframes glow-97 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

.star:nth-child(98) {
  width: 2px;
  height: 2px;
  position: absolute;
  margin-top: 923px;
  margin-left: 741px;
  background: #fff;
  border-radius: 50%;
  animation: glow-98 1s linear infinite;
  animation-delay: 0.49s;
}

@keyframes glow-98 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

.star:nth-child(99) {
  width: 2px;
  height: 2px;
  position: absolute;
  margin-top: 671px;
  margin-left: 903px;
  background: #fff;
  border-radius: 50%;
  animation: glow-99 1s linear infinite;
  animation-delay: 0.495s;
}

@keyframes glow-99 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

.star:nth-child(100) {
  width: 1px;
  height: 1px;
  position: absolute;
  margin-top: 718px;
  margin-left: 473px;
  background: #fff;
  border-radius: 50%;
  animation: glow-100 1s linear infinite;
  animation-delay: 0.5s;
}

@keyframes glow-100 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

.ring-saturn {
  display: block;
}

.orbit-earth {
  display: block;
  border: none;
  box-shadow: none;
  border: 1px solid rgba(173, 216, 230, 0.5);
}

.moon-earth {
  display: block;
}
