body {
  font-family: 'Orbitron', sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
}

header {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  font-family: 'Bebas Neue', sans-serif;
}

nav {
  width: 90%;
}

ul {
  display: flex;
  justify-content: space-evenly;
}

li {
  list-style-type: none;
}

a {
  color: #3394f5;
  text-decoration: none;
  cursor: pointer;
}

p {
  font-family: 'Dosis', sans-serif;
  font-size: 1.2rem;
}

.solar-system {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: -webkit-fill-available;
}

.page-content {
  z-index: 2;
  background-color: transparent;
  width: 60%;
  color: #333;
  position: inherit;
  margin: auto;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown > span {
  color: #3394f5;
  cursor: pointer;
  border-bottom: 25px solid transparent;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  z-index: 1;
  margin-top: 5px;
  background-color: #f9f9f9;
  top: 25px;
  left: -45px;
  border-radius: 5px;
  text-align: center;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.space-article {
  background-color: rgba(255, 255, 255, 0.82);
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.45);
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  margin: 3rem 0px;
}

.articles-content {
  margin: 3.65rem 0;
}

.articles-content > h1 {
  color: white;
}

.highlight {
  font-weight: bolder;
  font-family: 'Orbitron', sans-serif;
}

/* .orbitron-<uniquifier> {
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */

/* .bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
} */

/* .dosis-<uniquifier> {
  font-family: "Dosis", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */
